@media screen and (min-width: 768px){

.heroimg {
    width: 75%;  
    margin:5px;
    position:relative;
    top:30px; 
}
.weathersum {
    display:flex; 
    flex-direction: row-reverse; 
    justify-content: space-between;
}
.navigation {
   
    justify-content: center;
    display:flex; 
    list-style-type:none; 
    margin: 0; 
    padding:0; 
    width:100%; 
}
.navigation li {
    flex-grow: 1; 
    display:block;
}
.navigation li:first-child {
    display:none; 
}
.announcementsMain{
    width:40%; 
    margin: 0 auto; 
}
.announcementsMain ul li{
    text-align: left;
}
}